* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.display{
    margin: 0 775px;
    display: flex;
    justify-content: end;
    font-size: 18px;
    background-color: #000000;
    color: #90EE90;
    border-radius: 10px;
}

main {
    margin: 0 775px;
}

.btns {
    padding: 4px;
    background-color: #F0F8FF;
    border: 2px solid #CECECE;
    border-radius: 10px;
}

.btnStyle{
    margin: 3px;
    width: 70px;
    height: 65px;
    color: black;
    border-color: #4B4C4C;
    background-color: #CCCCCC;
    border-radius: 25%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}

.div1{
    display: flex;
    justify-content: center;

}